.swiper {
    width: 600px;
    height: 300px;
}

.swiper-container {
    height: 500px;
}

.swiper-slide {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

body {
    padding: 50px;

}